<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administrador</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Bienvenido Administrador</h1>
    <h2>A que apartado deseas ingresar para modificar/actualizar</h2>

    <div class="medium-filled">
        <a href="/cerrarSesion" class="volver">cerrar sesion</a>
    </div>

<!--     <div class="busqueda-equipo">
        <h2>Mi Equipo</h2>
        <p>Búsqueda de colaborador</p>
        <form class="form-inline" method="POST" action="{{ url_for('idadministrador.vista_administrador') }}">
            <input class="form-control mr-sm-2" type="text" name="nombre_colaborador" placeholder="Ingresa el nombre" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div> -->


    <a href="/gestiondeldesempeno" class="volver">Gestión de desempeño</a>
    <br>
    <a href="/gestiondeldesarrollo" class="volver">Gestión del desarrollo</a>
    <br>
    <a href="/equipo" class="volver">Equipo</a>



    <script src="" async defer></script>
</body>

</html>