{% extends "layout.html" %}

{% block title %}Agregar usuario{% endblock %}

{% block content %}

<h1 class="main-title">Equipo</h1>

<hr class="divider">


<div class="search-form">
    <p>Búsqueda de colaborador por nombre</p>
    <form class="form-inline">
        <input class="form-control form-control-lg" type="text" placeholder="Ingresa el nombre">
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>
</div>


<div class="integrante">
<h3>Integrantes agregados al equipo</h3>
</div>

<div class="add-member-form">
    <form class="form-inline">
        <input class="form-control form-control-lg" type="text" placeholder="Ingresa el nombre">
        <button type="submit" class="btn btn-primary mb-2">Agregar integrante</button>
    </form>
</div>

<div class="team-members">
    <div class="member">
        <input type="text" size="15" maxlength="30" value="Integrante 1" name="nombre">
    </div>
    <div class="member">
        <input type="text" size="15" maxlength="30" value="Integrante 2" name="nombre">
    </div>
    <div class="member">
        <input type="text" size="15" maxlength="30" value="Integrante 3" name="nombre">
    </div>
    <div class="member">
        <input type="text" size="15" maxlength="30" value="Integrante 4" name="nombre">
    </div>
    <div class="member">
        <input type="text" size="15" maxlength="30" value="Integrante 5" name="nombre">
    </div>
    <div class="member">
        <input type="text" size="15" maxlength="30" value="Integrante 6" name="nombre">
    </div>
</div>

<div class="medium-filled">
    <a href="/equipo" class="volver">VOLVER</a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/agregarusuario.png')}}" class="usuarios" />

<style>
    .integrante{
        margin-top: 60px;
        margin-left: -355px;
    }

    .search-form{
        margin-top: -62px;
    }

    .add-member-form{
        margin-top: 100px;
        margin-left: -355px;
    }

    .team-members{
        margin-top: 175px;
        margin-left: -400px;
    }
</style>


{% endblock %}