{% extends "layout.html" %}

{% block title %}
Competencias Docentes
{% endblock %}

{% block content %}

<h1>GESTIÓN DEL DESEMPEÑO</h1>
<hr>

<div class="rectangle-2119">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>
    <nombre>Edwin Figueroa</nombre>
</div>

<div class="titulo-dimension">
    <h3>COMPETENCIAS DOCENTES</h3>
</div>

<div class="btn">
    <a href="/informe/edwin.figueroa@usbmed.edu.co" class="volver">
        <div class="medium-filled">
            VOLVER
        </div>
    </a>
</div>



<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/ensenar0.png')}}" class="usuarios" />



{% endblock %}