{% extends "layout.html" %}

{% block title %}
Concertación de Propositos
{% endblock %}

{% block content %}


<h1>GESTIÓN DEL DESEMPEÑO</h1>
<hr>

<div class="rectangle-2111">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>
    <nombre>Edwin Figueroa</nombre>
</div>

<div class="titulo-dimension">
    <h3>CONCERTACIÓN DE PROPOSITOS</h3>
</div>

<div class="rectangle-2200">
    <a href="/proyectos" class="texto">
        <h4>Concertación de Propositos Estrategicos</h4>
        <hr>
        <p>Lorem ipsum dolor se sienta amet, consectetur adipiscing elit. Nullam
            malesuada rutrum diam, sed sollicitudin sed sed.</p>
    </a>
</div>

<div class="rectangle-2200">
    <a href="/concertaciondepropositospersonales" class="texto">
        <h4>Concertación de Propositos Personales</h4>
        <hr>
        <p>Lorem ipsum dolor se sienta amet, consectetur adipiscing elit. Nullam
            malesuada rutrum diam, sed sollicitudin sed sed.</p>
    </a>
</div>

<div class="rectangle-2200">
    <a href="/concertaciondepropositosparalamejoradeprocesos" class="texto">
        <h4>Concertación de Propositos Para la Mejora de Procesos</h4>
        <hr>
        <p>Lorem ipsum dolor se sienta amet, consectetur adipiscing elit. Nullam
            malesuada rutrum diam, sed sollicitudin sed sed.</p>
    </a>
</div>

<div class="texto">
    <div class="rectangle-2102">
        <a href="/concertaciondedisponibilidad" class="texto">
            <h4>Concertación de Disponibilidad</h4>
            <hr>
        </a>
    </div>
</div>

<div class="btn">
    <a href="/informe/edwin.figueroa@usbmed.edu.co" class="volver">
        <div class="medium-filled">
            VOLVER
        </div>
    </a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/objetivo-10.png')}}" class="usuarios" />

</div>

<style>
    h4 {
        font-size: 17px;
        margin-right: 20px;
        text-align: left;
        align-items: center;
        text-align: center;
    }

    hr {
        width: 102%;
        height: 30px;
        margin-top: -8px;
        
    }

    p {
        color: #333333;
        max-width: 225px;
        margin-top: -37px;
    }

    /* Estilo de las letras */

    .rectangle-2102 {
        /* concertacion de disponibilidad */
        background: #dadada;
        background: linear-gradient(900deg, #dadada 0%, #dadada 90%, #ff8000 70%, #ff8000 90%);
        border-radius: 40px;
        width: 270px;
        height: 80px;
        margin-right: 20px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .rectangle-2200 {
        /* Concertación de Propositos */
        background: #dadada;
        background: linear-gradient(900deg, #dadada 0%, #dadada 90%, #ff8000 70%, #ff8000 90%);
        border-radius: 40px;
        width: 270px;
        height: 175px;
        margin-right: 35px;
        margin-bottom: 30px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
</style>


{% endblock %}