{% extends "layout.html" %}

{% block title %}Cursos{% endblock %}

{% block content %}

<h1 class="main-title">Cursos</h1>
<hr class="divider">
<p>Búsqueda de tipo de curso por nombre</p>
<form class="form-inline" onsubmit="return false;">
    <input class="form-control mr-sm-2" type="search" placeholder="Ingresa el nombre" aria-label="Search"
        id="searchInput">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="buscarCursos()">Buscar</button>
</form>

<!-- {% if session['usuario']['fk_rol_usu'] == 1 %}
<h2>Administrar Cursos</h2>
<form action="{{ url_for('idcursos.crear_curso') }}" method="POST" enctype="multipart/form-data">
    <input class="form-control" type="text" name="nombre_tipo" placeholder="Nombre del curso" required>
    <input class="form-control" type="file" name="imagen" required>
    <button type="submit" class="btn btn-primary">Agregar Curso</button>
</form>
{% endif %} -->

<div id="cursosContainer" class="row">
    {% for curso in cursos %}
    <div class="col-md-4 curso-item">
        <a href="{{ url_for('idvercurso.vista_ver_curso', curso_id=curso.id_tipo_curso) }}" class="rectangle-link">
            <div class="rectangle">
                <img src="{{ curso.imagen }}" alt="{{ curso.nombre_tipo }}" class="curso-imagen">
                <h3>{{ curso.nombre_tipo }}</h3>
            </div>
        </a>

        {% if session['usuario']['fk_rol_usu'] == 1 %}
        <a href="{{ url_for('idcursos.editar_curso', curso_id=curso.id_tipo_curso) }}" class="btn btn-warning">Editar</a>
        <a href="{{ url_for('idcursos.eliminar_curso', curso_id=curso.id_tipo_curso) }}" class="btn btn-danger">Eliminar</a>
        {% endif %}

    </div>
    {% if loop.index0 % 3 == 2 and not loop.last %}

</div>


<div class="row">
    {% endif %}
    {% endfor %}
</div>


<!-- {% if session['usuario']['fk_rol_usu'] == 1 %}
<p>Editar tematica de cursos</p>


{% endif %} -->

<div class="rectangles-container">
    <div class="medium-filled">
        <a href="/gestiondeldesarrollo" class="volver">VOLVER</a>
    </div>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/curso0.jpeg')}}" class="usuarios" />

<script>
    function buscarCursos() {
        var input = document.getElementById('searchInput').value.toUpperCase();
        var cursos = document.querySelectorAll('#cursosContainer .curso-item');

        cursos.forEach(function (curso) {
            var nombre = curso.querySelector('h3').innerText.toUpperCase();
            if (nombre.indexOf(input) > -1) {
                curso.style.display = "";
            } else {
                curso.style.display = "none";
            }
        });
    }

</script>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 15px;
        padding-left: 15px;
        z-index: 1000;
    }

    .rectangle {
        margin-bottom: 30px;
        text-align: center;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .curso-imagen {
        width: 100px;
        /* Ancho fijo */
        height: 100px;
        /* Alto fijo */
        object-fit: cover;
        /* Mantiene la proporción de la imagen */
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .rectangle-link {
        text-decoration: none;
        color: inherit;
    }

    .rectangle-link:hover .rectangle {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

{% endblock %}