{% extends "layout.html" %}

{% block title %}
Equipo
{% endblock %}

{% block content %}
<h1>Equipo</h1>
<hr>
<div class="busqueda">
    <p>Búsqueda de colaborador por nombre:</p>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ingresa el nombre" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>

<div class="busqueda-equipo">
    <h2>Mi Equipo</h2>
    <p>Busqueda de colaborador</p>
</div>


{% for usuario in usuarios %}
    <div class="svg-button">
        <a href="{{ url_for('idinforme.vista_informe', id_usuario=usuario.id_usuario) }}">
            <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
                <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
                <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                    alignment-baseline="central">
                    {{ usuario.nombre }}
                </text>
            </svg>
        </a>
    </div>
{% endfor %}



<!-- <ul>
    {% for usuario in usuarios %}
    <li>{{ usuario.nombre }}</li>
    {% else %}
    <p>No se encontraron usuarios.</p>
    {% endfor %}
</ul> -->


<div class="svg-button">
    <a href="/informe">
        <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
            <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
            <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                alignment-baseline="central">
                Fransisco
            </text>
        </svg>
    </a>
</div>

<div class="svg-button">
    <a href="/prueba1">
        <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
            <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
            <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                alignment-baseline="central">
                Pepito
            </text>
        </svg>
    </a>
</div>

<div class="svg-button">
    <a href="/prueba2">
        <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
            <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
            <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                alignment-baseline="central">
                Juanito
            </text>
        </svg>
    </a>
</div>

<div class="svg-button">
    <a href="/prueba3">
        <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
            <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
            <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                alignment-baseline="central">
                Menganito
            </text>
        </svg>
    </a>
</div>

<div class="svg-button">
    <a href="/presentacionGDD">
        <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
            <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
            <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                alignment-baseline="central">
                Juan
            </text>
        </svg>
    </a>
</div>


<!-- <div class="svg-button">
    <a href="/agregarequipo">
        <svg version="1.1" width="200" height="150" viewBox="0 0 250 150">
            <rect x="20" y="20" width="210" height="100" rx="30" ry="30" fill="white" stroke="black" stroke-width="2" />
            <text x="125" y="70" font-family="Arial" font-size="20" fill="black" text-anchor="middle"
                alignment-baseline="central">
                Agregar miembro
            </text>
        </svg>
    </a>
</div> -->

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/icon-user-friends-icon0.jpg')}}" class="usuarios" />



{% endblock %}