{% extends "layout.html" %}

{% block title %}
Factores Claves de Éxito
{% endblock %}

{% block content %}
        <h1>GESTIÓN DEL DESEMPEÑO</h1>
        <hr>

        <div class="rectangle-2119">
            <div class="circle-wrapper">
                <div class="circle"></div>
            </div>
            <nombre>Edwin Figueroa</nombre>
        </div>

        <div class="titulo-dimension">
            <h3>FACTORES CLAVES DE EXITO</h3>

        </div>

        <div class="centro">


            <img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
            <img src="{{ url_for('static', filename='img/exito0.png')}}" class="usuarios" />

        </div>

{% endblock %}