{% extends "layout.html" %}

{% block title %}Factores Claves de Éxito{% endblock %}

{% block content %}
<h1 class="main-title">GESTIÓN DEL DESEMPEÑO</h1>
<hr class="divider">

{% if session['usuario']['fk_rol_usu'] == 2 %}
<div class="rectangle-2119">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>
    <nombre>Edwin Figueroa</nombre>
</div>
{% endif %}

<div class="titulo-dimension">
    <h3>FACTORES CLAVES DE EXITO</h3>

</div>

{% if session['usuario']['fk_rol_usu'] == 2 %}
<div class="btn">
    <a href="/informe/edwin.figueroa@usbmed.edu.co" class="volver">
        <div class="medium-filled">
            VOLVER
        </div>
    </a>
</div>
{% endif %}

{% if session['usuario']['fk_rol_usu'] == 1 %}
<div class="btn">
    <a href="/equipo" class="volver">
        <div class="medium-filled">
            VOLVER
        </div>
    </a>
</div>
{% endif %}



<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/exito0.png')}}" class="usuarios" />



{% endblock %}