{% extends "layout.html" %}

{% block title %}
Gestión del Desempeño
{% endblock %}

{% block content %}
<h1>Gestión Del Desempeño </h1>
<hr>


<a href="/equipo">
    <div class="rectangle-2104">
        <gestion_desempeno_descripcion>CONTRIBUCIONES <br>
            INDIVIDUALES</gestion_desempeno_descripcion>
    </div>
</a>

<a href="otrascontribuciones">
    <div class="rectangle-2105">
        <gestion_desempeno_descripcion>OTRAS <br>
            CONTRIBUCIONES</gestion_desempeno_descripcion>
    </div>
</a>

</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa1" />

<style>
        hr {
            width: 102%;
            height: 30px;
            margin-top: -70px;
            margin-left: auto;
            border-width: 2px;
            border-color: rgb(0, 0, 0);
        }
</style>

{% endblock %}