{% extends "layout.html" %}

{% block title %}
Informe
{% endblock %}

{% block content %}

<h1>Equipo</h1>
<hr>
<div class="rectangle-2109">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>

    {% if usuario %}
    
        <h5><span class="label">Nombre:</span> {{ usuario.nombre or 'Nombre no disponible' }}</h5>
        <h5><span class="label">Facultad de programa:</span> {{ usuario.facultad or 'Facultad no disponible' }}</h5>
        <h5><span class="label">Cargo:</span> {{ usuario.fk_cargo_usu or 'Cargo no disponible' }}</h5>
        <h5><span class="label">Correo electrónico:</span> {{ usuario.email or 'Correo no disponible' }}</h5>
        <h5><span class="label">Nivel de contribución:</span> {{ usuario.fk_nivel_de_contribucion or 'Nivel no disponible' }}</h5>
    {% else %}
        <p>No se encontraron datos del usuario.</p>
    {% endif %}

    <pre>{{ usuario | tojson }}</pre>

    <!--Eliminar integrante-->
<!--     <div class="rectangle-2060">
        <a href="#"> 
            <h3>Eliminar</h3>
            <img src="{{ url_for('static', filename='img/vector0.jpg')}}" class="vector" />
        </a>
    </div> -->
    <!--Eliminar integrante-->

</div>

<div class="opciones-usuario">

    <div class="rectangle-2070">
        <a href="/competenciastransversales" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5>Competencias transversales</h5>
            <img src="{{ url_for('static', filename='img/competencias-transversales.jpeg')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2071">
        <a href="/competenciasdocentes" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5>Competencias docentes </h5>
            <img src="{{ url_for('static', filename='img/ensenar0.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2072">
        <a href="/concertaciondepropositos" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> Concertación de propósitos  </h5>
            <img src="{{ url_for('static', filename='img/concertación-de-propósitos.jpeg')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2073">
        <a href="/factoresclavesdeexito" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> Factores claves de éxito  </h5>
            <img src="{{ url_for('static', filename='img/exito0.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2074">
        <a href="/mediciondepotencial" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> Medición de potencial </h5>
            <img src="{{ url_for('static', filename='img/proyecto-10.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>


    <div class="rectangle-2076">
        <a href="/resultados" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> Resultados  </h5>
            <img src="{{ url_for('static', filename='img/ocurrencia-10.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>


</div>

<!-- Botón para volver -->
<div class="btn">
    <a href="/equipo" class="volver">
        <div class="medium-filled">Volver</div>
    </a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/icon-user-friends-icon0.jpg')}}" class="usuarios" />

{% endblock %}