{% extends "layout.html" %}

{% block title %}
Microproyectos
{% endblock %}

{% block content %}
<h1>Microproyectos Asociados</h1>
<hr>


{% if microproyectos %}
<ul>
    {% for microproyecto in microproyectos %}

        <div class="rectangle-2114">
            <a href="/microproyecto/{{ microproyecto['id_micro_proyecto'] }}">
                <!-- <div class="rectangle-2112"> -->
                <h3>{{ microproyecto['nombre_micro_proyecto'] | e }}</h3>
                <p>{{ microproyecto['descripcion_micro_proyecto'] | e }}</p>
                <!-- Puedes agregar más detalles si es necesario -->
            </a>
        </div>

        {% endfor %}
</ul>
{% else %}
<p>No hay microproyectos disponibles para este proyecto.</p>
{% endif %}

<!-- Botón para volver -->
<div class="btn">
    <a href="{{ url_for('idproyectos.vista_proyectos', id_proyecto=1) }}" class="volver">
            <div class="medium-filled">
                    Volver
            </div>
    </a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/proyecto-10.png')}}" class="usuarios" />

{% endblock %}