{% extends "layout.html" %}

{% block title %}
Microproyectos
{% endblock %}

{% block content %}
<h1>Microproyectos Asociados</h1>
<hr>

{% if microproyectos %}
<ul>
    {% for microproyecto in microproyectos %}
    <a href="/microproyecto/{{ microproyecto['id_micro_proyecto'] }}">
        <div class="rectangle-2112">
            <h3>{{ microproyecto['nombre_micro_proyecto'] }}</h3>
            <p>{{ microproyecto['descripcion_micro_proyecto'] }}</p>
            <!-- Puedes agregar más detalles si es necesario -->
        </div>
    </a>
    {% endfor %}
</ul>
{% else %}
<p>No hay microproyectos disponibles para este proyecto.</p>
{% endif %}

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/proyecto-10.png')}}" class="usuarios" />

{% endblock %}