{% extends "layout.html" %}

{% block title %}
Medición de Potencial
{% endblock %}

{% block content %}

<h1>GESTIÓN DEL DESEMPEÑO</h1>
<hr>

<div class="rectangle-2119">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>
    <nombre>Edwin Figueroa</nombre>
</div>

<div class="titulo-dimension">
    <h3>MEDICIÓN DE POTENCIAL</h3>
</div>



<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/ensenar0.png')}}" class="usuarios" />



{% endblock %}