{% extends "layout.html" %}

{% block title %}
Gestión del Desarrollo
{% endblock %}

{% block content %}

<h1>Gestión del Desempeño</h1>
<hr>

<!-- <a href="/equipo">
    <div class="rectangle-2116">
        <h3>Impulsando El <br> Crecimiento</h3>
        <p> Lorem ipsum dolor se sienta amet, consectetur adipiscing elit. Nullam
            malesuada rutrum diam, sed sollicitudin sed sed.</p>
        <img src="{{ url_for('static', filename='img/potencia0.png')}}" class="potencia" />
    </div>
</a> -->

<a href="/analisisorganizacional">
    <div class="rectangle-2117">
        <h3>Análisis <br>Organizacional</h3>
        <p>Evaluamos y optimizamos estructuras y procesos para mejorar el rendimiento institucional de manera
            estratégica.</p>
        <img src="{{ url_for('static', filename='img/organizacion0.png')}}" class="organizacion" />
    </div>
</a>

<a href="/reportes">
    <div class="rectangle-2118">
        <h3>Dashboard /<br> Reportes</h3>
        <p>Visualiza el desempeño en tiempo real con nuestros reportes detallados, facilitando decisiones informadas y
            eficientes.</p>
        <img src="{{ url_for('static', filename='img/reporte0.png')}}" class="reporte" />
    </div>
</a>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />

<div class="btn">
    <a href="/gestiondeldesempeno" class="volver1">VOLVER</a>
</div>

<!-- <div class="btn">
    <a href="/reportes" class="volver">
        <div class="medium-filled">Volver</div>
    </a>
</div> -->


{% endblock %}