{% extends "layout.html" %}

{% block title %}
Podcast
{% endblock %}

{% block content %}

<h1>Podcast</h1>
<hr>
<p>Búsqueda de podcast por nombre</p>
<form class="form-inline" method="GET" action="{{ url_for('idpodcast.vista_podcast') }}">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Ingresa el nombre" aria-label="Search" value="{{ request.args.get('search', '') }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>

<div class="podcast-container">
    {% for podcast in podcasts %}
    <div class="podcast-item">
        <a href="{{ url_for('idcatalogopodcasts.vista_catalogopodcasts', tipo_podcast=podcast.id_tipo_podcast) }}">
            <img src="{{ podcast.miniatura }}" alt="{{ podcast.nombre_tipo }}" class="podcast-image">
            <div class="podcast-info">
                <h3 class="podcast-title">{{ podcast.nombre_tipo }}</h3>
                <p class="podcast-description">{{ podcast.descripcion }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="rectangles-container">
    <div class="medium-filled">
        <a href="/gestiondeldesarrollo" class="volver">VOLVER</a>
    </div>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/casete0.png')}}" class="usuarios" />

<style>
    .podcast-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }
    .podcast-item {
        width: 30%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .podcast-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
        margin-left: 35px;
    }
    .podcast-info {
        text-align: center;
    }
    .podcast-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .podcast-description {
        font-size: 14px;
        color: #666;
    }
</style>

{% endblock %}
