{% extends "layout.html" %}

{% block title %}
Proyectos
{% endblock %}

{% block content %}
<h1>Proyectos</h1>
<hr>


{% if proyectos %}
<ul>
    {% for proyecto in proyectos %}
    <a href="/infoproyectos">
    <div class="rectangle-2112">
        <h3>{{ proyecto['nombre_proyecto'] }}</h3>
        <p>{{ proyecto['descripcion_proyecto'] }}</p>
    </div>
    </a>
    {% endfor %}
</ul>
{% else %}
<p>No hay proyectos disponibles.</p>
{% endif %}

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/proyecto-10.png')}}" class="usuarios" />

{% endblock %}