{% extends "layout.html" %}

{% block title %}
Informe
{% endblock %}

{% block content %}

<h1>Equipo</h1>
<hr>
<div class="rectangle-2109">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>
    <h5><span class="label">Nombre:</span>Menganito</h5>
    <h5><span class="label">Facultad de programa:</span>Ingeniería</h5>
    <h5><span class="label">Cargo:</span>Docente de cálculo</h5>
    <!-- <h5><span class="label">Número de contacto:</span>3168113679</h5> -->
    <h5><span class="label">Correo electrónico: <br></span>Menganito.el.matematico@hotmail.com</h5>
    <h5><span class="label">Nivel de contribución: </span>3</h5>

    <!--Eliminar integrante-->
<!--     <div class="rectangle-2060">
        <a href="#">
            <h3>Eliminar</h3>
            <img src="{{ url_for('static', filename='img/vector0.jpg')}}" class="vector" />
        </a>
    </div> -->
    <!--Eliminar integrante-->

</div>

<!-- <div class="">

    <div class="rectangle-2070">
        <a href="/competenciastransversales" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5><span>Competencias transversales</span></h5>
            <img src="{{ url_for('static', filename='img/competencias-transversales.jpeg')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2071">
        <a href="/competenciasdocentes" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5><span>Competencias docentes</span> </h5>
            <img src="{{ url_for('static', filename='img/ensenar0.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2072">
        <a href="/concertaciondepropositos" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> <span>Concertación de propósitos </span> </h5>
            <img src="{{ url_for('static', filename='img/concertación-de-propósitos.jpeg')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2073">
        <a href="/factoresclavesdeexito" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> <span>Factores claves de éxito </span> </h5>
            <img src="{{ url_for('static', filename='img/exito0.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>

    <div class="rectangle-2074">
        <a href="#" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> <span>Medición de potencial</span> </h5>
            <img src="{{ url_for('static', filename='img/proyecto-10.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div>


    <div class="rectangle-2076">
        <a href="/resultados" style="display: 
                flex; align-items: center; justify-content: space-between;">
            <h5> <span>Resultados </span> </h5>
            <img src="{{ url_for('static', filename='img/ocurrencia-10.png')}}" class="imagenes"
                style="float: right; margin-top: -10px;" />
        </a>
    </div> -->

    <!-- Botón para volver -->

</div>
<div class="btn">
    <a href="/equipo" class="volver">
            <div class="medium-filled">
                    Volver
            </div>
    </a>
</div>
<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/icon-user-friends-icon0.jpg')}}" class="usuarios" />



{% endblock %}