{% extends "layout.html" %}

{% block title %}
Resultado de Análisis Organizacional
{% endblock %}

{% block content %}

<h1>Gestión del Desempeño</h1>
<hr>
<div class="titulo-dimension">
    <h3>Resultado Análisis Organizacional</h3>
</div>

<!-- Mostrar las preguntas y respuestas de la dimensión correspondiente -->
<div class="dashboard-content">
    <div id="respuestas-section">
        <div class="chart-title">

        </div>
    </div>
</div>


<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/organizacion0.png')}}" class="usuarios" />

{% endblock %}