{% extends "layout.html" %}

{% block title %}
Reportes
{% endblock %}

{% block content %}

<h1>Gestión del Desempeño</h1>
<hr>
<h1>Resultados de: </h1>

<div class="container">

    <a href="/reportesimpulsandoelcrecimiento">
        <div class="rectangle-2106">
            <h3>Impulsando El Crecimiento</h3>
            <p>Descripción que se va a poner de esto.</p>
        </div>
    </a>

    <a href="/reportesanalisisorganizacional">
        <div class="rectangle-2107">
            <h3>Análisis Organizacional</h3>
            <p>Descripción que se va a poner de esto.</p>
        </div>
    </a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/icon-user-friends-icon0.jpg')}}" class="usuarios" />



{% endblock %}