{% extends "layout.html" %}

{% block title %}
Resultado de Análisis Organizacional
{% endblock %}

{% block content %}

<h1>Gestión del Desempeño</h1>
<hr>

<body>
    <h1>Reporte de Análisis Organizacional</h1>
    
    {% if mensaje %}
    <p>{{ mensaje }}</p>
    {% endif %}

    {% if reporte %}
    <table>
        <thead>
            <tr>
                <th>Dimensión</th>  <!-- Nueva columna -->
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Semaforización</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reporte %}
            <tr>
                <td>{{ item.dimension }}</td>  <!-- Mostrar la dimensión -->
                <td>{{ item.pregunta }}</td>
                <td>{{ item.respuesta }}</td>
                <td>
                    <div class="semaforo">
                        <div class="luz rojo {% if item.semaforizacion == 3 %}encendido{% endif %}"></div>
                        <div class="luz amarillo {% if item.semaforizacion == 2 %}encendido{% endif %}"></div>
                        <div class="luz verde {% if item.semaforizacion == 1 %}encendido{% endif %}"></div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
</body>

<div class="btn">
    <a href="/reportes" class="volver1">VOLVER</a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/organizacion0.png')}}" class="usuarios" />


{% endblock %}