{% extends "layout.html" %}

{% block title %}
Reportes
{% endblock %}

{% block content %}

<h1>Gestión del Desempeño</h1>
<hr>
<h1>Resultados de: </h1>

<div class="container">

<!--     <a href="/reportesimpulsandoelcrecimiento">
        <div class="rectangle-2116">
            <h3>Impulsando El <br> Crecimiento</h3>
            <p> Lorem ipsum dolor se sienta amet, consectetur adipiscing elit. Nullam
                malesuada rutrum diam, sed sollicitudin sed sed.</p>
            <img src="{{ url_for('static', filename='img/potencia0.png')}}" class="potencia" />
        </div>
    </a> -->

    <a href="/reportesanalisisorganizacional">
        <div class="rectangle-2117">
            <h3>Análisis <br>Organizacional</h3>
            <p> Lorem ipsum dolor se sienta amet, consectetur adipiscing elit. Nullam
                malesuada rutrum diam, sed sollicitudin sed sed.</p>
            <img src="{{ url_for('static', filename='img/organizacion0.png')}}" class="organizacion" />
        </div>
    </a>

    <div class="btn">
        <a href="/otrascontribuciones" class="volver1">VOLVER</a>
    </div>

</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/icon-user-friends-icon0.jpg')}}" class="usuarios" />



{% endblock %}