{% extends "layout.html" %}

{% block title %}
Resultados Medición de Potencial 
{% endblock %}

{% block content %}
<h1>Resultados Medición de Potencial</h1>
<hr>

<div class="resultados-container">
    <h2>Respuestas Seleccionadas</h2>
    <table>
        <thead>
            <tr>
                <th>Dimensión</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Fecha de Respuesta</th>
            </tr>
        </thead>
        <tbody id="resultados">
            {% if respuestas %}
                {% for detalle in respuestas %}
                    <tr>
                        <td>{{ detalle['dimension'] }}</td>
                        <td>{{ detalle['pregunta'] }}</td>
                        <td>{{ detalle['respuesta'] }}</td>
                        <td>{{ detalle['fecha_respuesta'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" style="text-align: center;">No se encontraron respuestas.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="action-buttons">
    <!-- <a href="#" id="toggleButton" onclick="toggleView()">Ver Gráfica</a> -->
    <a href="#" onclick="window.print();">Imprimir Informe</a>
    <a href="/resultados">Volver</a>
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/proyecto-10.png')}}" class="usuarios" />

{% endblock %}
