{% extends "layout.html" %}
{% block title %} Resultados Competencias Transversales {% endblock %}
{% block content %}
<h1>Gestión del Desempeño</h1>

<hr />

<resultados>Resultados Competencias Transversales</resultados>

<div class="rectangle-2111">
    <div class="circle-wrapper">
        <div class="circle"></div>
    </div>
    <text>Edwin Figueroa</text>
</div>
<!-- sentido_comunidad -->
<div class="dashboard-buttons">
    {% set competencias_mostradas = [] %}
    {% set imagenes = {
        'Sentido de la comunidad académica': 'video0.png',
        'Planificación sustantiva': 'planificacion_sustantiva.png', 
        'Cuidado de sí, del otro y de los procesos': 'cuidado_procesos.png',
        'Compromiso son los resultados integrales': 'compromiso_resultados.png', 
        'Contribución a la transformación': 'contribucion_transformacion.png',
        'Sinergia colaborativa': 'sinergia_colaborativa.png'
    } %}
    {% for respuesta in respuestas %}
        {% if respuesta.competencia not in competencias_mostradas %}
            {% set competencias_mostradas = competencias_mostradas + [respuesta.competencia] %}
            <div class="button">
                <button type="button" onclick="mostrarInformacion({{ loop.index0 }})" class="competencias_transversales_borde">
                    <img src="{{ url_for('static', filename='img/' ~ imagenes[respuesta.competencia]) }}"
                        class="competencias_transversales" />
                    <p>{{ respuesta.competencia }}</p>
                </button>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="btn">
    <a href="/resultados" class="volver">
        <div class="medium-filled">
            Volver
        </div>
    </a>
</div>

<div id="informacion" class="informacion">
    <!-- Aquí se mostrará la información correspondiente al botón seleccionado -->
</div>

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/competencias-transversales.jpeg')}}" class="usuarios" />

<style>
    resultados {
        color: #333333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        z-index: 1;
        margin-top: -50px;
        font-size: 40px;
    }

    .dashboard-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -20px;
        z-index: 1;
        flex-wrap: wrap;

    }

    .competencias_transversales

    /* imagenes */
        {
        border-radius: 50px;
        width: 90px;
        /* Ancho */
        height: 90px;
        /* Alto */
        z-index: 1;

    }

    .competencias_transversales_borde {
        border-radius: 50px;
        border-color: #eaeaea;
        border: none;
        /* Elimina el borde */
        outline: none;
        /* Elimina el efecto de enfoque */
        background-color: #eaeaea;
        position: relative;
        height: 170px;
        /* Alto */
        width: 150px;
        /* Ancho */
        z-index: 1;
    }

    .competencias_transversales_borde:hover {
        background-color: #9b9b9b;
    }

    .rectangle-2111 {
        background: #ffffff;
        border-radius: 40px;
        width: 270px;
        height: 155px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .informacion {
        margin-top: 60px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
        text-align: left;
    }

</style>

<script>
    const informacion = {{ respuestas|tojson }};
    
    function mostrarInformacion(index) {
        const data = informacion[index];
        const content = `
            <table>
                <tr>
                    <th>Competencia</th>
                    <td>${data.competencia}</td>
                </tr>
                <tr>
                    <th>Pregunta</th>
                    <td>${data.texto_pregunta}</td>
                </tr>
                <tr>
                    <th>Respuesta Seleccionada</th>
                    <td>${data.texto_respuesta}</td>
                </tr>
                <tr>
                    <th>Nivel</th>
                    <td>${data.valor_respuesta}</td>
                </tr>
                <tr>
                    <th>Ruta de desarrollo</th>
                    <td>${data.ruta_de_desarrollo}</td>
                </tr>
                <tr>
                    <th>Ruta de autodesarrollo</th>
                    <td>${data.ruta_de_autodesarrollo}</td>
                </tr>
                <tr>
                    <th>Iluo</th>
                    <td>${data.iluo}</td>
                </tr>
                <tr>
                    <th>Descripción de la iluo</th>
                    <td>${data.descripcion_iluo}</td>
                </tr>
            </table>
        `;
        document.getElementById('informacion').innerHTML = content;
    }
</script>

{% endblock %}