{% extends "layout.html" %}

{% block title %}
Resultados Competencias Transversales
{% endblock %}

{% block content %}
<h1>Gestión del Desempeño</h1>

<hr>
<div class="dashboard">
    <div class="avatar">
        <div class="circle-wrapper">
            <div class="circle"></div>
        </div>
        <p>Fransisco</p>
    </div>
    <div class="dashboard-content">
        <!-- Sección de respuestas -->
        <div id="respuestas-section">
            <div class="chart-title">
                <h1>Resultados</h1>
                <ul>
                    {% for respuesta in respuestas %}
                    <li>
                        <span class="label">Respuesta Seleccionada:</span> {{ respuesta.texto_respuesta }}<br>
                        <span class="label">Nivel:</span> {{ respuesta.valor_respuesta }}<br>
                        <span class="label">Ruta de desarrollo:</span> {{ respuesta.ruta_de_desarrollo }}<br>
                        <span class="label">Ruta de autodesarrollo:</span> {{ respuesta.ruta_de_autodesarrollo }}<br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Sección de la gráfica, inicialmente oculta -->
        <div id="grafica-section" style="display:none;">
            <h1><div class="chart-title">Gráfica de Resultados</div></h1>
            <div id="plotly-chart" style="width: 900px; height: 500px;"></div>
        </div>
    </div>
</div>

<div class="action-buttons">
    <!-- <a href="#" id="toggleButton" onclick="toggleView()">Ver Gráfica</a> -->
    <a href="#" onclick="window.print();">Imprimir Gráfica e Informe</a>
    <a href="{{ url_for('download_excel', incluir_grafica='true') }}" id="downloadButton">Descargar Excel</a>
    <a href="/resultados">Volver</a>
    <!-- Pasa el parámetro -->
    <br>
</div>

<!-- <div class="action-buttons">
    <a href="/resultados">Volver</a>
</div> -->

<img src="{{ url_for('static', filename='img/mariposa0.png')}}" class="mariposa" />
<img src="{{ url_for('static', filename='img/competencias-transversales.jpeg')}}" class="usuarios" />

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var respuestas = JSON.parse('{{ respuestas|tojson|safe }}');

    // Inicializa la gráfica
    function renderGrafica() {
        var xValues = [];
        var yValues = [];

        respuestas.forEach(function (respuesta, index) {
            xValues.push(index + 1); // Usa índices como etiquetas del eje X
            yValues.push(parseFloat(respuesta.valor_respuesta)); // Usa valor_respuesta para el eje Y
        });

        var trace = {
            x: xValues,
            y: yValues,
            mode: 'lines+markers',
            type: 'scatter',
            marker: { size: 8 }
        };

        var data = [trace];
        var layout = {
            title: 'Valores de Respuestas',
            xaxis: { title: 'Índice' },
            yaxis: { title: 'Valor', range: [1, 4] }
        };

        Plotly.newPlot('plotly-chart', data, layout);
    }

    function toggleView() {
        var respuestasSection = document.getElementById('respuestas-section');
        var graficaSection = document.getElementById('grafica-section');
        var toggleButton = document.getElementById('toggleButton');
        var downloadButton = document.getElementById('downloadButton'); // Referencia al botón de descarga

        if (graficaSection.style.display === "none") {
            respuestasSection.style.display = "none";
            graficaSection.style.display = "block";
            toggleButton.textContent = "Ver Resultados";
            downloadButton.href = "{{ url_for('download_excel', incluir_grafica='true') }}"; // Cambia a la descarga con gráfica
            renderGrafica(); // Renderiza la gráfica cuando se muestra la sección
        } else {
            graficaSection.style.display = "none";
            respuestasSection.style.display = "block";
            toggleButton.textContent = "Ver Gráfica";
            downloadButton.href = "{{ url_for('download_excel') }}"; // Cambia a la descarga sin gráfica
        }
    }



</script>

{% endblock %}