{% extends "layout.html" %}

{% block title %}
Videos
{% endblock %}

{% block content %}

<h1>Videos</h1>
<hr>
<p>Búsqueda de videos por nombre: <br> </p>

<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Ingresa el nombre" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
<br>
<div class="rectangles-container">
    <div class="rectangle-2108">
        <video controls poster="{{ url_for('static', filename='img/mariposa0.png') }}" width="70%">
            <source src="{{ url_for('static', filename='videos/Dancing triangle video.mp4') }}" type="video/mp4">
        </video>
    </div>

    <div class="rectangle-2108">
        <video controls poster="{{ url_for('static', filename='img/mariposa0.png') }}" width="70%">
            <source src="{{ url_for('static', filename='videos/Dancing triangle video.mp4') }}" type="video/mp4">
        </video>
    </div>
</div>
<div class="rectangles-container">
    <div class="rectangle-2108">
        <video controls poster="{{ url_for('static', filename='img/mariposa0.png') }}" width="70%">
            <source src="{{ url_for('static', filename='videos/Dancing triangle video.mp4') }}" type="video/mp4">
        </video>
    </div>


    <div class="rectangle-2108">
        <video controls poster="{{ url_for('static', filename='img/mariposa0.png') }}" width="70%">
            <source src="{{ url_for('static', filename='videos/Dancing triangle video.mp4') }}" type="video/mp4">
        </video>

    </div>
</div>

<div class="rectangles-container">
    <div class="medium-filled">
        <a href="/gestiondeldesarrollo" class="volver">VOLVER</a>
    </div>
</div>

{% endblock %}